$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #f77737;
$youtube: #ff0000;

$black: #000000;
$white: #ffffff;
$select-color: #404040;
$h2-color: #434343;
$engie: #00aaff;
$bg-blue: #5ba0f0;
$border-item: #979797;

$bg-grey: #f0f0f0;

$bg-blue-dark: #0037f5;

$h2-color-grey: #595959;

$blue-see-more-link: #2657d3;

$openSans: "Open Sans", sans-serif;
$firaSans: "Fira Sans", sans-serif;
$see-more-color: #9d9b9b;

html {
  height: 100%;
}

body {
  //overflow-y: hidden;
  padding: 2.8%;
  height: 100%;
}

footer {
  padding-top: 3.625em;
  padding-bottom: 3.625em;
}

.errorActive {
  color: red;
}

img {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.04),
    0 20px 30px 0 rgba(120, 130, 146, 0.5);
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-header {
  //background: $bg-blue-dark;
  background: linear-gradient(-45deg, #250f8a, #02ecf1);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  border-radius: 5px;
  height: 100%;
  position: relative;
  box-shadow: 0 20px 40px 0 rgba(124, 124, 124, 0.5);
  svg {
    margin-bottom: 1.875em;
  }
  & > .container {
    height: 100%;
  }
}

#main-content {
  padding: 6.25em 0;
  background: $white;
  display: none;
}

.heading {
  height: 100%;
}

.navbar {
  padding-left: 0;
  padding-right: 0;
}

.video-header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 99%;
  width: auto;
}

.intro {
  font-family: $openSans;
  font-size: 1.125em;
  line-height: 1.33;
  color: $white;
  margin-bottom: 0.666em;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: $openSans;
  font-weight: 700;
  font-size: 1.875em;
  line-height: 1.1;
  color: $white;
  margin-bottom: 2.16em;
}

h2 {
  font-family: $openSans;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.35;
  color: $h2-color;
  margin-top: 2.15em;
  margin-bottom: 1.1em;
}

.vs {
  width: 380px;
  h2 {
    text-transform: capitalize;
    margin-top: 2em;
    margin-bottom: 1.6em;
    font-size: 1.5625em;
    font-weight: 800;
    color: $black;
  }
}

.item {
  position: relative;
  font-size: 1em;
  line-height: 1.375;
  padding: 0.625em 0;
  margin: 0;
  font-family: $openSans;
  .col-right {
    font-weight: 700;
  }
  .col-left,
  .col-right {
    color: $select-color;
  }
  &::after {
    content: "";
    position: absolute;
    background: $border-item;
    opacity: 0.5;
    height: 1px;
    width: 100%;
    bottom: 0;
  }
  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.versus {
  font-family: $firaSans;
  font-weight: 700;
  font-size: 1.6875em;
  line-height: 1.4;
  color: $white;
  letter-spacing: -0.003em;
  position: relative;
  margin: 0.11em 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 45%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

.versus-container {
  max-width: 940px;
  margin: auto;
}

.see-more-link {
  margin-top: 1.875em;
  margin-bottom: 0;
  a {
    font-family: $openSans;
    font-weight: 700;
    color: $blue-see-more-link;
    text-decoration: none;
  }
}

.versus-see-more {
  font-family: $openSans;
  font-size: 0.8125em;
  line-height: 1.38;
  color: $see-more-color;
  letter-spacing: -0.003em;
  position: relative;
  margin: 3.84em auto;
  font-weight: 700;
  max-width: 940px;
  cursor: pointer;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $border-item;
    width: 45%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
  .before-text {
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translate(-50%, -50%);
  }
}

.button-versus {
  cursor: pointer;
  font-family: $openSans;
  font-weight: 700;
  font-size: 1em;
  color: $white;
  letter-spacing: -0.035em;
  background-color: transparent;
  border: 2px solid $white;
  margin: 1.875em auto 0;
  padding: 0.46em 3.5em;
  border-radius: 3.5px;
  box-shadow: transparent;
  visibility: hidden;
  //transition: all 0.2s ease !important;
  &.button-versus-reverse {
    background-color: $bg-blue-dark;
    color: $white;
    &:hover {
      background-color: $white;
      color: $bg-blue-dark;
      box-shadow: 5px 5px 24px 0 rgba(0, 55, 245, 0.39);
      /* box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.04),
        0 20px 30px 0 rgba(120, 130, 146, 0.5); */
    }
  }
  &:hover {
    background-color: $white;
    color: $engie;
    /*  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.04),
      0 20px 30px 0 rgba(120, 130, 146, 0.5); */
  }
}

.compare-run {
  &:focus {
    outline: none !important;
  }
  .text {
    transition: all 0.2s ease;
  }
  .loader {
    height: 42px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
  }
  .errorText {
    font-size: 0;
    transition: all 0.2s ease;
  }
  &.load-compare {
    .text {
      font-size: 0;
    }
    .errorText {
      font-size: 0;
    }
    .loader {
      transform: translate(-50%, -50%) scale(1, 1);
    }
    &:hover {
      background-color: transparent;
      color: $white;
    }
  }
  &.load-error {
    .text {
      font-size: 0;
    }
    .errorText {
      font-size: initial;
    }
    &:hover {
      background-color: transparent;
      color: $white;
    }
  }
}

.lds-spinner {
  margin-bottom: 0 !important;
}

.details {
  background: $bg-grey;
  padding: 4.8125em 0;
  border-radius: 5px;
  display: none;
  h1 {
    color: $black;
    font-size: 1.6875em;
    line-height: 1.37;
  }
}

.offers {
  max-width: 940px;
  margin: auto;
}

.offer {
  width: 287px;
  transition: all 0.5s ease;
  padding: 1em;
  svg {
    height: 90px;
    & + h2 {
      margin-top: 1.24em;
    }
  }
  h2 {
    color: $h2-color-grey;
    font-size: 1.4375em;
    line-height: 1.34;
  }
  .offer-detail {
    font-family: $openSans;
    color: $see-more-color;
    font-size: 0.875em;
    line-height: 1.35;
  }
  &:hover {
    box-shadow: darken($bg-blue, 15%) 0px 20px 20px 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}

.zindex {
  z-index: 100;
}

/* Form compare */
#compare-1,
#compare-2 {
  &[data-brand=""] {
    .select {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        opacity: 0.75 !important;
        pointer-events: none !important;
        // cursor: not-allowed;
      }
    }
  }
  &[data-brand="nissan"],
  &[data-brand="renault"],
  &[data-brand="tesla"] {
    .select {
      &:nth-of-type(2) {
        opacity: 1 !important;
        pointer-events: initial !important;
      }
    }
  }
  &[data-modele="leaf_nouveau"],
  &[data-modele="zoe"],
  &[data-modele="master"],
  &[data-modele="model_3"] {
    .select {
      &:last-of-type {
        opacity: 1 !important;
        pointer-events: initial !important;
      }
    }
  }
}

#compare-1,
#compare-2 {
  &[data-brand="nissan"] {
    .select {
      &:nth-of-type(2) {
        .select-options {
          li {
            display: none;
            &[rel="leaf_nouveau"] {
              display: block;
            }
          }
        }
      }
    }
  }
  &[data-brand="renault"] {
    .select {
      &:nth-of-type(2) {
        .select-options {
          li {
            display: none;
            &[rel="zoe"],
            &[rel="master"] {
              display: block;
            }
          }
        }
      }
    }
  }
  &[data-brand="tesla"] {
    .select {
      &:nth-of-type(2) {
        .select-options {
          li {
            display: none;
            &[rel="model_3"] {
              display: block;
            }
          }
        }
      }
    }
  }
}

/* Custom Select */

$select-background: $white;
$select-width: calc((100% - 40px) / 3);
$select-height: 40px;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
  //border: 1px solid #979797;
  //border-radius: 3px;
  /* &:nth-child(2),
  &:nth-child(3) {
    opacity: 0.75;
    //pointer-events: none;
    cursor: not-allowed;
  } */
}
.select-styled {
  white-space: nowrap;
  border-radius: 3px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  font-family: $openSans;
  font-weight: 600;
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: $white url("../images/arrow.png") center center / cover;
    transition: all 0.2s ease;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active,
  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: darken($select-background, 5);
    &:after {
      // top: 9px;
      // border-color: transparent transparent $select-color transparent;
      transform: translateY(-50%) rotate(-180deg);
      background-color: darken($select-background, 5);
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    transition: all 0.2s ease-in;
    &:hover {
      color: $select-background;
      background: $engie;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

/* Media Queries */
@media screen and (max-width: 991px) {
  #main-content {
    section {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .vs {
    width: 48%;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 0.9375em;
    line-height: 1.4;
  }
  .intro {
    font-size: 0.75em;
    line-height: 1.41;
  }
  #main-content {
    padding: 3.125em 0;
    section {
      padding: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .versus-container {
    position: relative;
    margin-left: -2.8%;
    margin-right: -2.8%;
    padding: 0 2.8%;
    overflow: hidden;
  }
  .vs {
    width: 100%;
    transition: transform 0.25s ease !important;
    h2 {
      font-size: 1.25em;
      line-height: 1.35;
      display: flex;
      justify-content: space-between;
      span {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
    .item {
      font-size: 0.95em;
      line-height: 1.31;
    }
    &.vs-1.active {
      .vehicule-1 {
        text-decoration: underline;
      }
      & + .vs-2 {
        img,
        .descriptions {
          transform: translateX(105.6%) !important;
        }
      }
    }
    &.vs-1:not(.active) {
      .vehicule-2 {
        text-decoration: underline;
      }
      img,
      .descriptions {
        transform: translateX(-105.6%) !important;
      }
      & + .vs-2 {
        img,
        .descriptions {
          transform: translateX(-105.6%) !important;
        }
      }
    }
  }
  .vs-2 {
    margin-left: -2.8%;
    margin-right: -2.8%;
    padding: 0 2.8%;
    transform: translateX(100%) !important;
    position: absolute;
    top: 0;
    //position: absolute;
    //left: 103%;
    h2 {
      display: flex;
      justify-content: right;
    }
  }
  .details {
    padding: 2.40625em 0;
  }
  .main-header {
    padding: 2.40625em 0;
  }
  #compare-1,
  #compare-2 {
    align-items: center;
    flex-direction: column;
    .select {
      width: calc((100% / 12) * 10);
      &:nth-child(2) {
        margin: 5px 0;
      }
    }
  }
  .versus {
    font-size: 1.3125em;
    line-height: 1.47;
    margin: 0.33em auto;
    width: calc((100% / 12) * 10);
    &::before,
    &::after {
      width: 40%;
    }
  }
  .main-header,
  .heading {
    height: auto;
  }
  .versus-see-more {
    &::before,
    &::after {
      display: none;
    }
  }
  .main-header {
    padding: 3.3125em 0;
  }
  .details {
    padding: 3.3125em 0;
    h1 {
      display: none;
    }
    .d-flex {
      flex-direction: column;
    }
  }
  .offer {
    width: auto;
  }
  .offer-title {
    font-size: 1.365625em;
    line-height: 1.35;
  }
  .offer-detail {
    font-size: 0.83125em;
    line-height: 1.35;
  }
}

@media screen and (min-width: 577px) {
  .vehicule-2 {
    display: none;
  }
}
